.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
}

.form__button {
    border: none;
    padding: 10px;
    color: white;
    background-color: teal;
    align-self: center;
    margin-right: 10px;
}

.form__button:hover {
    background-color: rgb(1, 167, 167);
}

.form__button:active {
    background-color: rgb(1, 95, 95);
}
@media (max-width: 767px) {
    .form {
        grid-template-columns: auto;
    }
    .form__button{
        width:100%;
    }
}