html{
    box-sizing: border-box;
}

*, ::after ::before{
    box-sizing: inherit;
}

.body{
    background-color: #eee;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
}